@import 'tailwindcss';

body{
    font-family: 'Inter';
    background-color: white;
    color: black;
}
::-webkit-scrollbar{
    background-color: white;
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f8fafc;
}
::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #2563eb;
}